{%  extends  'maintemplate.html' %}
{% comment %} {% load static %} {% endcomment %}


{% block title %}
  Page cars
{% endblock title%}



{% block content %}
      {% for image in imageList   %}
      <br>
        {% comment %} makes vertical pictures not horizontal {% endcomment %}
         <img src="{{media_url}}images/{{image}}"  alt="CarsPhoto"  alt="Cars Photo" style="width:300px;height:200;">

      {% endfor %}
    

{% endblock %}





{% comment %} 

{% block content %}


   <ul>
      <li>Max</li>


   </ul>
   
{% endblock %}    {% endcomment %}
